.cardContainer {
    min-width: 600px;
}

.leftContent {
    width: 200px;
    display: flex;
    justify-content: center;
}

.leftContent img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.rightContent {
    padding: 10px;
}

.readMoreBtn {
    margin: 0;
    padding: 10px 10px 10px 0;
}
